.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    color: #2b6d72;
    text-decoration: none;
  }
  
  .social-icons i {
    font-size: 24px;
  }